<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Neverwinter Night Frontpage</title>
        <!-- Local BaconBomber CSS -->
        <link href="../content/css/baconbomber.css" rel="stylesheet" />
        <!-- Local Bootstrap core CSS -->
        <link href="../content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Local javaScript Query file -->
        <script src="../content/jquery.3.2.1.mini.js"> </script>
</head>
<center><h1>Ranger Hunter Mod 20 Build</h1></center>

<div class="container-fluid">
    <div class="row">
        <!-- Left section -->
        <div class="col-md-2 round-section">
            <div class="ranger-logo">
                <img src="../images/rangerimages.png" class="ranger-logo-image">
            </div>
            <div class="companions-section">
                <h2>Companions</h2>
                <div>
                    <span>
                        Abyssal Chicken (Active)
                        Phase Spider - Phase Spider presence
                        Staldorf - Staldorf presence
                        Flame Sprite - Flamesprite's insight
                        Wild Hunt Rider - Wild hunter's discipline
                        Alchemist Exprimenter - Alchemist's discipline
                        <br />
                        <br />
                        Acute Sense
                        Gives the chance to up Combat advantage with 7,5% and give companion 7,5% critical strike advoidence for 15 seconds.
                    </span>
                </div>
            </div>
            <div class="mounts-section">
                <h2>Mounts</h2>
                <span>
                    King of Spines
                    Commander Tyrannosaur
                    Carpet of Flying
                    Tenser's Floating Disk
                    Arcane Whirlwind
                </span>
            </div>
            <div class="mount-insignia-section">
                <h2>Mount Insignias</h2>
                <span>
                    <ol>
                        <li>Barbed Insignia of skill</li>
                        <li>2x Illuminated Insignia of Aggression</li>
                        <li>6x Real Insignia of aggression</li>
                        <li>4x Enlighted Insignia of Skill</li>
                        <li>2x Barbed Insignia of aggression</li>
                    </ol>
                </span>
            </div>
            <div class="mount-insignia-bonus-section">
                <h2>Mount Insignias Bonus</h2>
                <span>
                    <ol>
                        <li>Shepherd's devotion</li>
                        <li>Assassin's Covenant</li>
                        <li>Artificer's Persuassions</li>
                        <li>2 x Warloard's inspiration</li>
                    </ol>
                </span>
            </div>
            <div class="mount-powers-section">
                <h2>Mount Powers</h2>
                <span>                    
                    Opportunnistic
                    +4500 Combat Advantage
                    +2700 Combined Rating
                </span>
            </div>
            <div class="artifacts-section">
                <h2>Artifacts</h2>
                <span>
                    I use the books as one bonus and the Musicbox set. <br />
                    If i do run TIC i would replace the Musicbox set with "Book of the Vile Darkness" set
                </span>
            </div>
        </div>
        <!-- Middle section -->
        <div class="col-md-7 round-section">
            <div class="images-section">
                <center><h2>BaconBomber Ranger Hunter Build</h2></center>
                <div>
                    <span>
                        Hi, i'm BaconBomber<br /> Guild Lead of Phantom Knigts and i have been playing since Mod 14.<br /> 
                        I have created this build from different sources, but mostly using Discord server "The Wolf Pack" and using the Rainer tool to build characters to find the right stats and also using this Excel Sheet to see information about everything in the game. <br />
                        <a href="https://docs.google.com/spreadsheets/d/15LyLdI1LphLlrvkK08OxZH5u415OtJwBdRdkYawXwOE/edit#gid=119945880">Excel Sheet items information</a><br />
                        <a href="https://www.patreon.com/RainerNW/posts?tag=CharacterBuilder">The Rainer Tool</a><br />
                        Find more of Rainer's NWN content from his youtube videos, like Discord server, pocket wiki etc...<br />
                        <a href="https://www.youtube.com/watch?v=wwnBKF0xpmQ">here</a><br />
                        The Wolf Pack discord server you need to ask about but it is worth getting an invite<br />
                    </span>
                </div>
                <div class="clear"></div>
                <div class="image-content">
                    <img src="../images/Gear-Class-Race-Stats1.png" />
                    <img src="../images/Gear-Class-Race-Stats2.png" />
                    <img src="../images/Gear-Class-Race-Stats3.png" />
                    <img src="../images/Powers.png" />
                    <img src="../images/Boons.png" />
                    <img src="../images/Guild-boons.png" />
                    <img src="../images/Companion+Gear+Runestones.png" />
                    <img src="../images/Companion+Gear.png" />
                    <img src="../images/Mounts+mountpower.png" />
                    <img src="../images/Stable+Insignias.png" />
                </div>
            </div>
        </div>
        <!-- Right section -->
        <div class="col-md-3 round-section">
            <div class="rotation-section">
                <h2>Rotation(s)</h2>
                <span class="rotation">
                    My rotations is like this
                    <ol>
                        <li>Disruptive Shot (daily) + 10% dmg for 5 seconds</li>
                        <li>Constricting Arrow(Encounter, Strong grasping roots)</li>
                        <li>Longstrider Shot(Encounter)</li>
                        <li>Hindering Shot(Encounter, Weak grasping roots)</li>
                        <li>Aimed Shot(At-Will)</li>
                    </ol>
                </span>
            </div>
            <div class="boons-section">
                <h2>Boons</h2>
            </div>
            <div class="enchantments-section">
                <h2>Enchantments</h2>
                <span>
                    <ul>
                        <li>5 utility - Dark Enchantments</li>
                        <li>5 Defence - Azure Encahntments</li>
                        <li>9 offense - 8 Tactical Enchantments + 1 Assassin's Enchantment</li>
                    </ul>
                </span>
            </div>
            <div class="consumables-section">
                <h2>Consumables</h2>
                <span>
                    <ul>
                        <li>Seared Tuna (SH Food Market)</li>
                        <li>Wild Storm Elixir(AH or )</li>
                        <li>Supirior flask of potency +1(AH or )</li>
                        <li>Watermelon Sorbet(AH or Summerfetival)</li>
                        <li>Invocation Blessing(Invocation Fireplace)</li>
                    </ul>
                </span>
            </div>
        </div>
      </div>
</div>
</html>